@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --primary-color: #f60f20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*so that padding doesn't affect width of the elements*/
}

html,
body {
  font-family: 'Poppins', sans-serif;
  color: #111;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0 10px 0;
  font-size: 1.1rem;
}

section {
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 100px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem; /*multiplier of the set font-size*/
  font-weight: 700;
  z-index: 99;
}

/* HOMEPAGE */
.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
}

.home-content {
  position: relative;
  z-index: 95;
  max-width: 600px;
}

/* BUTTON */
.btn {
  display: inline-block; /* links are set to display: inline by default, thus margin doesn't work */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  cursor: pointer;
  border: 0;
}

.btn:hover {
  transform: scale(0.99);
}
/* NAVIGATION TAB */
.navigation {
  display: none;
}

/* TOGGLE */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--primary-color) url(../images/menu.png); /*sandwitch icon*/
  z-index: 98;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: var(--primary-color) url(../images/close.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
