.btn {
  display: inline-block; /* links are set to display: inline by default, thus margin doesn't work */
  background-color: $primary-color;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0;
  cursor: pointer;
  border: 0;
}

.btn:hover {
  transform: scale(0.99);
}

/* TOGGLE */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: $primary-color url(../images/menu.png); /*sandwich icon*/
  z-index: 20;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: $primary-color url(../images/close.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
